cryptography==41.0.3
Django==3.2.16
djangorestframework==3.14.0
djoser==2.2.0
psycopg2-binary==2.9.7
pycparser==2.21
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.4
